*{
    margin: 0;
    font-family: "poppins", sans-serif;
    padding: 0;
  
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  .Endeavor{
    font-size: 2rem;
    color: white;
    user-select: none;
  }
  .navigation a{
    position: relative;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 550;
    margin-left: 30px;
  }
  .navigation a::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: white;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
  }
  .navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
  }
  .navigation .btnlogout-popup{
      width: 130px;
      height: 50px;
      background: transparent;
      border: 2px solid white;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1.5rem;
      color: white;
      font-weight: 500;
      margin-left: 40px;
  }
  .navigation .btnlogout-popup:hover{
      background: white;
      color: black;
  
  }
  body{
    text-transform:initial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.friends-list {
    list-style: none;
    padding: 0;
}
.friend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #c9bebe;
    border-radius: 5px;
}
.friend img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 150px;
}
.list {
    flex-grow: 1;
}
.name {
    font-weight: bold;
    margin-bottom: 5px; 
}
.address {
    color: #777;
}
p {
  line-height: 1.6;
  max-width: 900px;
  align-items: center;
  margin-bottom: 15px;
  padding: 30px;
  background-color: #efe5e5;
  border-radius: 5px;
  margin-top: 15px;
}